#login{
	color:red !important;
	/*width:520px;
	margin:0 auto;*/
	transition:all 0.8s ease;
} 
#login:hover{
	box-shadow:3px 6px 6px #00000017 !important;
} 

.MuiTypography-root.MuiTypography-h5.MuiCardHeader-title.css-1qvr50w-MuiTypography-root{
	font-weight:bold !important;
	color:#ffffff !important;
}

.MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
	color:#1565c0 !important;
	font-size:22px !important;
}
